/*  Add google font */
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
/* 

/*  Effect all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Courier, monospace;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

/*  ########### Top Navigation ########### */

.nav {
  overflow: hidden;
  width: 90vw;
  max-height: 75px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #1b1b1b;
  border: 1px #dddddd solid;
  box-shadow: 0px 0px 5px 3px rgb(230, 230, 230);
  border-radius: 10px;
}

.logo img {
  float: left;
  width: auto;
  height: 50px;
}

.menuContinuer {
  float: right;
  margin-right: auto;
  display: block;
  margin-left: auto;
  padding: 10px;
}

.menu {
  display: flex; /*  Flex Display */
  justify-content: space-between;
  list-style-type: none;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.menu li a:hover {
  background-color: #e24329;
  border-radius: 5px;
}

/*  ########### Hamburger Menu ########### */

.hamburgerMenu {
  display: none;
  width: fit-content;
  padding: 5px;
  z-index: 10;
}

.hamburgerMenu a img {
  filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(281deg)
    brightness(111%) contrast(101%);
}


/*  ########### Main ########### */
.mainContinuer {
  width: 90vw;
  padding: 10px 2px;
  margin: 0 auto;
}
.masonryGallery {
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  max-height: 2400px;
  gap: 16px;
}

/* 
.masonryGallery img:nth-child(2n+1) {
  flex: 25%;
  max-width: 25%;
 }

 .masonryGallery img:nth-child(2n+2) {
  flex: 25%;
  max-width: 25%;
 } */


.masonryGallery img {
  object-fit: cover;
  max-width: 24%;
  border-radius: 10px;
}



/*  ########### Responsive Mobile Version ########### */

@media screen and (max-width: 800px) {
  .menu {
    display: none;
    z-index: 5;
    width: 200px;
    top: 85px;
    right: 36px;
  }

  .menuContinuer {
    width: fit-content;
    margin-left: auto;
  }
  .hamburgerMenu {
    display: block;
  }

  .hamburgerMenu:hover {
    background-color: #e24329;
    border-radius: 5px;
  }

  .menuContinuer:hover .menu {
    display: block;
    position: absolute;
    flex-direction: column;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
  }
}
