/* A centered large title ‘Final Exam */
h1 {
  text-align: center;
}

/* use flex to make the  Two paragraphs next to each other */

.continuer {
  display: flex;
  flex-direction: row;
}
.continuer p {
  padding: 15px;
}

/* On smaller screen sizes paragraph pushed down on a separate line by change flex direction*/
@media only screen and (max-width: 600px) {
  .continuer {
    flex-direction: column;
  }
}
